@keyframes shift {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes pulsate {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@mixin periscope-base {
  $light-gray: #ddd;
  $lighter-gray: lighten(#ddd, 5%);
  $medium-gray: #bbb;
  $dark-gray: #666;
  $light-blue: #cef;
  $lighter-blue: lighten($light-blue, 5%);
  $medium-red: #f54;

  $mic-button-width: 5ex;

  .periscope {
    position: relative;

    .search-field {
      width: 100%;
      padding: 1ex;
      padding-right: 1ex + $mic-button-width;
      box-sizing: border-box;
      border: 1px solid $light-gray;
    }

    .supplier-heading {
      padding: 0.5ex 1ex;
      font-weight: 400;
      font-size: 90%;
      color: $dark-gray;
      background-color: $lighter-gray;
    }

    .result-entry {
      padding: 1ex;
      width: 100%;
      background-color: white;

      &.selected {
        background-color: $light-blue;
      }

      &:hover {
        background-color: $lighter-blue;
      }
    }

    .result-list:empty {
      display: none;
    }

    .async-loading {
      position: relative;
      display: block;
      height: 1ex;
      overflow: hidden;

      &::after {
        content: "";
        background-image: #{"linear-gradient(-70deg"}, $light-blue, transparent, $light-blue, transparent, $light-blue#{")"};
        position: absolute;
        top: 0;
        bottom: 0;
        width: 200%;
        animation: shift 2s linear infinite;
      }
    }

    .record-button {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 0;
      width: $mic-button-width;
      color: $dark-gray;

      &,
      &:hover,
      &:focus {
        &,
        &::before,
        &::after {
          background: none;
          box-shadow: none;
          border: none;
        }
      }

      &:hover {
        color: black;
      }

      &.recording {
        color: $medium-red;
        animation: pulsate 1s infinite;
        cursor: default;
      }
    }
  }
}
