@keyframes shift {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@mixin periscope-base {
  $light-gray: #ddd;
  $lighter-gray: lighten(#ddd, 5%);
  $middle-gray: #bbb;
  $dark-gray: #666;
  $light-blue: #cef;
  $lighter-blue: lighten($light-blue, 5%);

  .periscope {
    .search-field {
      width: 100%;
      padding: 1ex;
      box-sizing: border-box;
      border: 1px solid $light-gray;
    }

    .supplier-heading {
      padding: 0.5ex 1ex;
      font-weight: 400;
      font-size: 90%;
      color: $dark-gray;
      background-color: $lighter-gray;
    }

    .result-entry {
      padding: 1ex;
      width: 100%;
      background-color: white;

      &.selected {
        background-color: $light-blue;
      }

      &:hover {
        background-color: $lighter-blue;
      }
    }

    .result-list:empty {
      display: none;
    }

    .async-loading {
      position: relative;
      display: block;
      height: 1ex;
      overflow: hidden;

      &::after {
        content: "";
        background-image: #{"linear-gradient(-70deg"}, $light-blue, transparent, $light-blue, transparent, $light-blue#{")"};
        position: absolute;
        top: 0;
        bottom: 0;
        width: 200%;
        animation: shift 2s linear infinite;
      }
    }
  }
}
