$light-gray: #ddd;
$middle-gray: #bbb;
$dark-gray: #666;
$light-blue: #cef;

@keyframes pulsate {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.periscope {
  .search-field {
    width: 100%;
    padding: 1ex;
    box-sizing: border-box;
    border: 1px solid $light-gray;
  }

  .supplier-heading {
    padding: 0.5ex;
  }

  .result-entry {
    padding: 1ex;
    width: 100%;
    background-color: white;

    &.selected,
    &:hover {
      background-color: $light-blue;
    }
  }

  .result-list:empty {
    display: none;
  }

  .async-loading {
    position: relative;
    display: block;
    height: 2em;
    background-color: $middle-gray;

    &::after {
      content: "...";
      color: $dark-gray;
      animation: pulsate 1s linear infinite;
    }
  }
}
